body {
  font-family: helvetica, sans-serif;
  letter-spacing: 0px;
  padding: 0;
  margin: 0;
  line-height: 1.5;
  overflow: hidden;
  /*background: white url(/images/bg-3.jpg) -200px -140px;*/
  /*background: white url(/images/bg-1.jpg) repeat-x 700px 100px;*/
  color: #555;
  background: white;
  -moz-user-select: none;
  -khtml-user-select : none;
}

#main {
  margin: 10px;
}

#header {
  position : fixed;
  width: 100%;
  background: #333;
  color: white;
  font-size: 12px;
  top: -20px;
  left: 0;
  height: 20px;
  z-index : 1000;
  overflow: hidden;
}

#header-inner {
  position: absolute;
  width: 100%;
}

#header-inner a span {
  -text-overflow: ellipsis;
}

#pos-head {
  position: absolute;
  width: 100px;
  background: white;
  top: 18px;
  height: 2px;
  z-index: 100;
}

#header a {
  color: #eee;
  display: block;
  float: left;
  text-align: center;
  -webkit-transition: background-color .3s ease-out,color .3s ease-out;
  -moz-transition: background-color .3s ease-out,color .3s ease-out;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;
  height: 20px;
}

#header a span {
  color: #bbb;
  font-size: 10px;
  -webkit-transition: background-color .3s ease-out,color .3s ease-out;
  -moz-transition: background-color .3s ease-out,color .3s ease-out;
}

#header a:hover span {
  color: white;
}

#header a {
/*  margin-left: 12px;
  padding: 1px 2px 1px 2px;*/
}

#header a:hover {
  color: white;
  background: #a4a4a4;
}

h1 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}
  
h1 span {
  color: #777;
  font-size: 16px;
}

h2 {
  margin: 0;
  font-size: 18px;
}

h3 {
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  color: #777;
  letter-spacing: -1px;
  padding: 0 12px 0 12px;
}

h3 span {
  color: #ccc;
  font-size: 16px;
}

.start h1 {
  display: block;
  text-indent: -9999px;
  background: url(/images/logo-large-new.png);
  width: 822px;
  height: 168px;
  position: absolute;
  margin: 0 0 0 -411px;
  top: 100px;
  left: 50%;
  cursor: pointer;
}

.start h2 {
  display: block;
  text-indent: -99999px;
  background: url(/images/logo-subtitle.png);
  width: 720px;
  height: 96px;
  position: absolute;
  margin: 0 0 0 -360px;
  top: 300px;
  left: 50%;
  cursor: pointer;
}

.next,.prev {
  display: block;
  text-indent: -99999px;
  background: url(/images/arrow-prev-small.png);
  -moz-background-size: 100%;
  width: 25px;
  height: 44px;
  position: absolute;
  margin: 0 0 0 -90px;
  top: 4px;
  left: 0%;
  opacity: 0.7;  
}

.next {
  background: url(/images/arrow-next-small.png);
  -moz-background-size: 100%;
  left: 100%;
  margin: 0 0 0 40px;

}

.start .next {
  background: url(/images/arrow-next.png);
  width: 74px;
  height: 132px;
  margin: 0 0 0 -37px;
  top: 420px;
  left: 50%;  
}

ul {
  padding: 0;
  zoom: 1;
}

li {
  list-style-type : none;
}

a {
  color: #555;
  text-decoration: none;
  outline: 0;
}

a:hover {

}

#infos {
  float: right;
/*  padding: 0 12px 0 0;*/
}

#infos a {
  display: block;
  float: right;
/*  margin-left: 12px;
  padding: 1px 2px 1px 2px;*/
}

.sidebar {
  width: 258px;
  position: absolute;
  right: 0px;
  height: 474px;
  background: white;
}

.info {
  background: white;  
  font-size: 12px;
  padding: 12px;
  margin: 0 0 12px 0;
}

  .info h4 {
    margin : 0;
    font-size: 14px;
  }

  .info dl {
    margin: 0;
  }

  .info dt {
    float: left;
    width: 95px;
    font-style: normal;
    font-weight: bold;
  }

  .info dl {
    display: block;
  }
  
ul.show {
  background: white;
  padding: 12px 0 0 12px;
}

.thumbs {
  margin: 0 0 12px 0;
  padding: 0;
}

.thumbs li {
  list-style-type : none;
  float : left;
}

.thumbs li a img {
}

.thumbs li a {
  margin: 0 6px 6px 0;
  border: 3px solid transparent;
  display: block;
  -webkit-transition: border-color .3s linear;
  -moz-transition: border-color .3s linear;
  -webkit-border-radius: 3px;
}

.thumbs li a.selected, .thumbs li a.selected:hover {
  border-color: rgba(1,1,1,0.15);
}

.thumbs li a:hover {
  border-color: rgba(1,1,1,0.07);
}

img {
  display : block;
  border: 0;
}

.series-container {
  width: 1000px;
  padding: 0 0 500px 0;
  position: absolute;
}

.series {
  position: relative;
  height: 400px;
  margin: 50px auto;
}

.large-image {
  position: absolute;
  left: 0px;
  background: #f6f6f6;
  border: 12px solid white;
  height: 450px;
}

  .throbber {
    position: absolute;
    margin: -18px 0 0 -18px;
    top: 50%;
    left: 50%;
    opacity: 0.95;
    padding: 6px;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  }
    .throbber div {
      background: url(/images/throbber.gif) white;
      width: 24px;
      height: 24px;      
    }

.more-info {
  display: block;
  width: 44px;
  height: 25px;
  background: url(/images/arrow-down-small.png);
  text-indent: -99999px;
  margin-left: -22px;
  left: 50%;
  bottom: 12px;
  position: absolute;
  opacity: 0.7;
  -moz-background-size: 100%;
}

.page .more-info {
  bottom: -80px;
}

.back {
  display: block;
  width: 88px;
  height: 50px;
  background: url(/images/arrow-up-small.png);
  text-indent: -99999px;
  margin: 50px auto 500px auto;
  opacity: 0.7;
}

.series-info {
  top: 1500px;
  left: 50%;
  width: 640px;
  margin: 0px 0 500px -320px;
  position: absolute;
  padding: 50px 0 0 0;
}

.series-info div {
  margin: 0 12px 0 12px;
}

.series-info img {
  float: right;
  margin: 0 0 1em 1em;
  border: 10px solid #F6F6F6;
}

.vita-table {
  margin-top: 40px;
  background: white;
  border: 12px solid white;
  padding: 20px;
  /*-moz-box-shadow: 2px 2px 10px rgba(0,0,0,0.07);*/
}

.vita-table.ausstellungen {
  margin-top: 20px;
}

.vita-table.ausstellungen td {
  font-size: 12px;
}

.vita-table.ausstellungen td.year {
  font-size: 14px;
  width: 50px;
}

table td.year {
  vertical-align: top;
  padding-right: 30px;
  width: 90px;
  font-style: italic;
  font-weight: bold;
}

table td {
  font-size: 15px;
}

blockquote p {
  border-left: 7px solid #ddd;
  font-style: italic;
  padding-left: 1em;
  font-size: 13px;
}

blockquote p.credit {
  font-style: normal;
  font-size: 12px;  
  border-left: 7px solid transparent;
  padding-left: 1em;
}

.series-container .links {
  font-size: 13px;
}

.page {
  position: relative;
  margin: 50px auto;
  width: 700px;
}

.page#press h4 {
  margin-top: 3em;
}

dt {
  font-style: italic;
}

.kontakt form {
  background: #F6F6F6;
  padding: 12px;
  margin: 0 0 12px 0;
}

h5 {
  margin: 0;
}

textarea {
  width: 100%;
  height: 120px;
  font-family: arial;
  font-size: 14px;
  padding: .3em;
  border: 6px solid #ddd;
  -webkit-transition: border-color .3s linear, background-color .3s linear;
  -moz-transition: border-color .3s linear, background-color .3s linear;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 12px 0;
  outline: 0;
}

textarea:focus {
  border-color: #aaa;
}

input,textarea {
  color: #555;
}

input[type=text] {
  font-family: arial;
  font-size: 14px;
  padding: .3em;
  border: 6px solid #ddd;
  margin: 0 0 12px 0;
  -webkit-transition: border-color .3s linear, background-color .3s linear;
  -moz-transition: border-color .3s linear, background-color .3s linear;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: block;
  outline: 0;
}

input[type=text]:focus {
  border-color: #aaa;
}

form div {
  text-align : right;
}

form div strong {
  font-size: 12px;
  color: #555;
  display: none;
}

input[type=submit] {
  font-family: arial;
  font-size: 14px;
  padding: 0.5em;
  border: 3px solid #ddd;
  background: white;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-transition: border-color .3s linear, background-color .3s linear;
  -moz-transition: border-color .3s linear, background-color .3s linear;
  -moz-border-radius : 10px;
  -webkit-border-radius : 10px;
  font-weight: bold;
}

input[type=submit]:hover {
  border-color:#aaa;
  background-color: #f6f6f6;
}

ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;  
}

h4 a, #buy-interest div a {
  -webkit-transition: border-color .7s linear;
  -moz-transition: border-color .7s linear;
  border-bottom: 2px solid transparent;
}

h4 a:hover, #buy-interest div a:hover {
  border-bottom: 2px solid #555;
}

#buy-interest {
  display: none;
  position: fixed;
  width: 300px;
  margin: 50px 0 0 -150px;
  background: white;
  left: 50%;
  padding: 10px;
  border: 5px solid rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
}

#buy-interest h4 {
  margin: 0;
  color: #555;
}

.close {
  background: url(/images/cross.png);
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}

#ausstellungen {
  margin-top : 200px;
}

.series-info dl {
  font-size: 12px;
}

.hidden {
  display: none;
}

.info dd {
  margin-left: 95px;
}