<div class="page">
  <h2>Impressum</h2>
  <p>
    Ute Rathmann<br>
    Mail: <a href="mailto:ute@uterathmann.com">ute@uterathmann.com</a><br>
    Tel: 01577 - 395 79 59
  </p>
  <p>
    Alle Bilder © Ute Rathmann 2009-2010<br>
    Alle Rechte vorbehalten / All rights reserved
  </p>
  <p><a href="/">Zurück »</a></p>
</div>