<div class="page">
  <h2>Vita</h2>

  <table>
  <tr>
    <td class="year">1975</td><td>Geboren in Ratzeburg</td>
  </tr>
  <tr>
  <td class="year">1994–1997</td><td>Ausbildung zur Herrenschneiderin</td>
  </tr>
  <tr>
  <td class="year">1997–2002</td><td>Studium an der Kunsthochschule Berlin-Weißensee, Fachrichtung Mode-Design Abschluss: Diplom</td>
  </tr>
  <tr>
  <td class="year">seit 2002</td><td>Tätig als freischaffende Künstlerin</td>
  </tr>
  <tr>
  <td class="year">2003</td><td>Ernennung zur Meisterschülerin von Christine Perthen</td>
  </tr>
  <tr>
  <td class="year">seit 2004</td><td>Lehrauftrag an der Kunsthochschule Berlin-Weißensee</td>
  </tr>
  <tr>
  <td class="year">2006</td><td>Gastprofessur an der Kunsthochschule Berlin-Weißensee</td>
  </tr>
  <tr>
  <td class="year">seit 2007</td><td>Fachlehrerin am Lette-Verein Berlin, FG Mode-Design</td>
  </tr>
  <tr>
  <td class="year">seit 2008</td><td>Freischaffende Kostümbildnerin am Theater im Palais, Berlin Unter den Linden</td>
  </tr>
  </table>

  <h4>Einzel- und Gruppenausstellungen</h4>
  <dl>
    <dt>2001</dt>
    <dd>„Weißenseer Fenster - Arten der Zeichnung“, Verlagsgebäude der Berliner Zeitung</dd>
    <dt>2002</dt>
    <dd>Galerie M in Berlin-Marzahn</dd>
    <dt>2003</dt>
    <dd>„Figur und Kleid“, Studio Bildende Kunst/ Werkstattgalerie,<br>
    Kulturamt Lichtenberg von Berlin</dd>
    <dt>2004</dt>
    <dd>„Art Club“, Kunstverein Burgwedel/ Isernhagen<br>
    Galerie Bilderwelten, Berlin- Prenzlauer Berg</dd>
    <dt>2006</dt>
    <dd>„Christine Perthen und Schüler“(Gedenkausstellung), Kunsthochschule Berlin- Weißensee<br>
    „Anonyme Zeichner 2“, Galerie Blütenweiss, Berlin-Mitte<br>
    „Kleid und Kostüm“, Handzeichnungen, Galerie in der Lithowerkstatt, Berlin-Treptow</dd>
    <dt>2007</dt>
    <dd>„Mode meets Malen - Modemiezen malen“, Merz, Schau!raum für Unikate, Berlin<br>
    „Kunst trifft Mode“, Galerie k20, Berlin</dd>
    <dt>2008</dt>
    <dd>Plakat und Kostümentwürfe, Theater im Palais, Berlin „24“, Galerie k20, Berlin</dd>
    <dt>2009</dt>
    <dd>„Meine Verehrung“, Klötze und Schinken, Berlin<br>
    „Das Schiele-Projekt“, Projektraum sieben, Berlin</dd>
  </dl>
</div>